<ion-header>
  <ion-navbar>
    <button ion-button menuToggle end>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Postos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding="">
  <ion-list>
    <button ion-item *ngFor="let item of items" (click)="itemTapped($event, item)">
      <ion-icon [name]="icons[2]" item-left></ion-icon>
      <span class="title-posto">{{item.nome}}</span>
      <table class="tabela-lista">
        <tr>
          <th>GASOLINA</th>
          <th >GASOLINA AD</th>
          <!--<th>ETANOL</th>
          <th>DIESEL </th>
          <th>GNV</th>-->
        </tr>
        <tr>
          <td>R$ {{item.gasolina}}</td>
          <td>R$ {{item.gasolinaAd}}</td>
          <!--<td>R$ {{item.etanol}}</td>
          <td>R$ {{item.diesel}}</td>
          <td>R$ {{item.gnv}}</td>-->
        </tr>
      </table>
      <div class="item-note" item-right>
        {{item.distancia}} KM
      </div>
    </button>
  </ion-list>
  <div *ngIf="selectedItem" padding>
    You navigated here from <b>{{selectedItem.title}}</b>
  </div>
</ion-content>
<ion-footer>
  

</ion-footer>