// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.menu-inner .item-ios{
    background-color: #7a332c;
    margin-top: 10px;
    color: #ecf0f1;
    font-weight: bold;
    border-radius: 35px;
}

ion-backdrop , .menu-inner , .menu-inner .content{
    background-color: transparent!important;
}
.icone-menu {
    margin-right:10px;
}
sebm-google-map{
    height: 500px;
}
.iconePng{
    margin: auto;
    height: 250px;
}
.padding-img{
    text-align: center;
    margin-bottom: 20px;
}
.list-buttons-login{
    text-align: center
}

.myStyleCard{
    img{
        height: 150px;
    }
    ion-card-title{
        font-size: 18px;
        font-weight: bold;
    }
    p{
        line-height: 1.2;
        font-size:14px;
    }
}